<!-- <% provide(:page_title, 'Global Trending News') %>
<% provide(:news_active, 'active') %>

<div class="row">
    <%= render @posts %>
</div> -->
<div class="container">
  <h5>World News</h5>
  <div class="row">
    <!-- WORLD NEWS WIDGETS -->
    <div class="col-sm-8 col-xs-6" "list mb-2" "card">
      <div class="feedgrabbr_widget" id="fgid_8b64f21ffecc1dcde6a4f41b9"></div>
      <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_8b64f21ffecc1dcde6a4f41b9");</script>
      <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
    </div>
      <!-- WORLD NEWS WIDGETS END-->
      <!-- WORLD NEWS 400 X 400 SIDEBAR -->
      <div class="col-sm-4 col-xs-6" "list mb-2" "card">
        <div class="feedgrabbr_widget" id="fgid_fc67abf4174fef497cacd556b"></div>
        <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_fc67abf4174fef497cacd556b");</script>
        <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
      </div>
  </div>
<hr>
<h5>US News - Politics</h5>
  <div class="row">
    <div class="col-sm-8 col-xs-6" "list mb-2" "card">
      <!-- US NEWS -->
      <div class="feedgrabbr_widget" id="fgid_d80c3c94c9095eda66e43e5f8"></div>
      <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_d80c3c94c9095eda66e43e5f8");</script>
      <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
    </div>
    <!-- POLITICS NEWS 400 X 400 SIDEBAR -->
      <div class="col-sm-4 col-xs-6" "list mb-2" "card">

        <div class="feedgrabbr_widget" id="fgid_9e89449e069dad4b5bd583a8d"></div>
        <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_9e89449e069dad4b5bd583a8d");</script>
        <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>

      </div>
  </div>
  <hr>
  <h5>US News - Business</h5>
  <div class="row">
    <!-- AFRICA CNN NEWS -->
    <div class="col-sm-8 col-xs-6" "list mb-2" "card">

      <div class="feedgrabbr_widget" id="fgid_5ea2124997f73e6f4ab36efbf"></div>
      <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_5ea2124997f73e6f4ab36efbf");</script>
      <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>

    </div>
    <!-- FINANCIAL NEWS 400 X 400 SIDEBAR -->
      <div class="col-sm-4 col-xs-6" "list mb-2" "card">


                <div class="feedgrabbr_widget" id="fgid_bede87d112e8755bd7b08ab32"></div>
                <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_bede87d112e8755bd7b08ab32");</script>
                <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>

      </div>
  </div>
  <hr>
  <h5>US News - Tech</h5>
  <div class="row">
    <!--  WSJ BUSINESS NEWS -->
    <div class="col-sm-8 col-xs-6" "list mb-2" "card">

      <div class="feedgrabbr_widget" id="fgid_7549bfff455e39a6fe38f59d3"></div>
      <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_7549bfff455e39a6fe38f59d3");</script>
      <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>

    </div>
    <!-- TECH NEWS 400 X 400 SIDEBAR -->
      <div class="col-sm-4 col-xs-6" "list mb-2" "card">
        <div class="feedgrabbr_widget" id="fgid_2890e6d752a7b3488ea26dbbe"></div>
        <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_2890e6d752a7b3488ea26dbbe");</script>
        <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
      </div>
</div>
  <hr>
  <h5>Africa - Top Stories</h5>
  <div class="row">
    <!-- AFRICA TOP NEWS 400 X 400 SIDEBAR -->
    <div class="col-sm-8 col-xs-6" "list mb-2" "card">

      <div class="feedgrabbr_widget" id="fgid_b568a7223f9661b142f46cb5a"></div>
      <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_b568a7223f9661b142f46cb5a");</script>
      <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>

    </div>
    <!-- AFRICA TOP NEWS 400 X 400 SIDEBAR -->
      <div class="col-sm-4 col-xs-6" "list mb-2" "card">
        <div class="feedgrabbr_widget" id="fgid_2858eb1625dcabd095582958d"></div>
        <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_2858eb1625dcabd095582958d");</script>
        <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>      </div>
</div>
  <hr>
  <h5>Africa News - Business</h5>
  <div class="row">
    <!-- AFRICA TOP NEWS 400 X 400 SIDEBAR -->
    <div class="col-sm-8 col-xs-6" "list mb-2" "card">
      <div class="feedgrabbr_widget" id="fgid_024b5703994bd2b48c71931da"></div>
      <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_024b5703994bd2b48c71931da");</script>
      <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
    </div>
    <!-- AFRICA TOP NEWS 400 X 400 SIDEBAR -->
      <div class="col-sm-4 col-xs-6" "list mb-2" "card">
        <div class="feedgrabbr_widget" id="fgid_a0c31e66c3d2c4d55bf795010"></div>
        <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_a0c31e66c3d2c4d55bf795010");</script>
        <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
      </div>
</div>
</div>
