<!-- <% provide(:about_active, 'active') %> -->

<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-primary text-center">A Brief History of Hiatt Zhao</h1>
    <img src="https://thumbs.about.me/thumb2/h/i/a/hiattzhao/hiattzhao-540x360.jpg" alt="hiatt zhao self portrait" class="img-responsive" alt="Cinque Terre" width="304" height="236"/>
    <ul class="nav nav-pills nav-justified">
      <a class="btn btn-default" data-toggle="pill" href="#early-years">Early Years</a>
      <a class="btn btn-default" data-toggle="pill" href="#college">College</a>
      <a class="btn btn-default" data-toggle="pill" href="#photography">Photography</a>
      <a class="btn btn-default" data-toggle="pill" href="#grad-school">Graduate School</a>
      <a class="btn btn-default" data-toggle="pill" href="#current">Current</a>
    </ul>

    <div class="tab-content">
      <div id="early-years" class="tab-pane fade in active">
        <h2>Early Years</h2>
        <p>I was born in Beijing, China, and moved to the United States in 1995. I lived in Madison, New Jersey, and spent the latter part of my childhood and teenage years there.</p>

        <p>I excelled in school. By the time I finished high school my GPA was 3.92. I also played on the school soccer team for all four years. But the best times I had was skateboarding with my friends. There are two skateboarding videos of me on YouTube. They were made by my friend, Ed Carew.</p>

        <p>In school, I liked math and science but I didn't take any computer science classes. I deeply regretted this decision.</p>
      </div>
      <div id="college" class="tab-pane fade">
        <h2>College</h2>
        <p>I attended the Univerity of Rochester in upstate New York and majored in chemistry. I also took pre-med classes so I can apply for medical school. However, in my last year of college, on the day of the MCAT, I decided medical school was not for me.</p>

        <p>I finished college in three years with a BA in chemistry and a Certificate in Management in Accounting and Finance.</p>
      </div>
      <div id="photography" class="tab-pane fade">
        <h2>Photography</h2>
        <p>I worked as a lab technician after college. The company was very small and the manager told me that there isn't higher positions available in the company. I knew the job was a dead end so I resigned after four months of working there.</p>

        <p>I turned to my creative side and picked up photography. I had started photography during the last year of high school when I bought a digital camera, it was only natural for me to start it up again once the pendulum swung from science back to art.</p>

        <p>I had a solo exhibition at an art gallery and group exhibitions else where as well. When I wasn't doing photography I was learning web design and graphic design. My website at that time was coded from the ground up.</p>

        <p>Soon, I decided to take some computer science classes at a local community college. I no longer had the regret of missing out on computer science when I was in high school.</p>

        <p> I tried to find a job in the computer field but no company wanted to hire me due to the lack of experience. That's when I decided to go to graduate school.</p>
      </div>
      <div id="grad-school" class="tab-pane fade">
        <h2>Graduate School</h2>
        <p>Instead of studying computer science, I thought I should apply my math and computer skills in finance. So I went back University of Rochester and spent a year at Simon Business School getting a Master of Science in Finance.</p>

        <p>In a year and half, I wasn't able to find a job in the finance field, though I did complete an internship in real estate. It was an oxymoron when the entry level finance jobs want at least two years of experience, which I didn't have.</p>
      </div>
      <div id="current" class="tab-pane fade">
        <h2>Current</h2>
        <p>Although there are times when people tell me that I'm directionless with all these seemingly different fields, but I'm young and I'm exploring. The world is like a playground for me. I can't just be satisfied with the swings, I want to go on all the rides.</p>

        <p>Right now, I'm teaching myself to become a full stack developer using freecodecamp.com and other online resources. I find computer science to be very interesting and creative. Definitely a challenge for me, and I welcome that challenge.</p>

        <p>In the near future, I want to combine everything I learned into a career I like. This includes art, design, computer science, math, and who knows what else. The future is endless.</p>
      </div>
    </div>
  </div>
</div>
