.posts.index {
  .card {
    border: none;
    border-radius: 0;
    // border-bottom: 1px solid #181818; MAY NEED IT LATER JUST FOR DIFFERENT STYLES
    height: auto !important;
    margin-bottom: 20px;
    background-color: white;
    p {
      margin-bottom: 0;
    }
    .card-topper {
      height: 250px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .card-block {
      padding: 10px;
      .btn-read {
        background-color: #e8e8e8;
        font-weight: 300;
        border-radius: 0;
        color: black;
        &:hover {
          background-color: #d8d8d8;
        }
      }
      .card-title {
        font-size: 1.3rem;
        margin-bottom: 0;
        a {
          color: black;
          text-decoration: none;
        }
      }

      .tags {
        margin-bottom: 0;
        a {
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
        }
      }

      .published_date {
        font-size: 0.8rem;
        color: #787878;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      .card-text {
        font-size: 0.9rem;
        color: black;
        text-decoration: none;
      }
    }
  }
    .card-data {
      background-color:#343a40;
       // #929FBA;
      color: #fff;
      text-align: center;
      height: auto;
      // padding: 10px;
        ul {
      margin-bottom: 0;
      font-size: .9rem;
    }
      ul li {
        display: inline;
    }
      ul a .fa {
      margin-left: 5px;
      margin-right: 3px;
    }

  }
  a:focus, a:hover, a:active {
    text-decoration: none;
}

.text-black {
    color: #333 !important;
}

a.text-black:focus, a.text-black:hover {
    color: #7b7b7b !important;
}

hr {height: 2px;
    background-color: #ed1d61;
    border:none
}


.list {
    display: block;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border-radius: 2px;
    transition: all .2s ease-in-out;
}

.list-header {
    display: block;
    float: left;
    width: 35%;
    overflow: hidden;
    position: relative;
    border-radius: 2px 0 0 2px;
}

.list-header img {
    width: 100%;
}

.list-header .list-header-image:after {
    display: block;
    content: '';
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 200px 100px rgba(0,0,0,.58);
    z-index: 1;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
}

.list-content {
    display: block;
    margin-left: 35%;
    padding: 15px;
    position: relative;
}

// .list-meta {
//     display: block;
//     margin-bottom: 16px;
//     font-size: 13px;
//     line-height: 100%;
// }

// .list-meta .list-meta-item {
//     display: inline-block;
//     margin-right: 18px;
//     color: #9A9A9A;
// }

.mb-2, .my-2 {
    margin-bottom: 2rem !important;
}

.list:after {
    display: block;
    clear: both;
    content: '';
}

.list:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
}



@media only screen and (max-width: 991px) {
  .list-header {
    display: block;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  .list-content {
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 15px;
    clear: both;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  background-color: #f3f5f6;
}

}



.author-bio {
  background-color: white;
  padding: 15px 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 30px 0;
  text-align: center;
  // img {
  //   border-radius: 50%;
  // }
  // img, h4 {
  //   margin-bottom: 10px;
  // }
  h4 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
  h6 {
    font-weight: 500;
    font-size: 18px;
  }
}

.posts.edit, .posts.new {
  .card {
    .card-body {
      background-color: $light-gray;
    }
    .card-title {
      margin-bottom: 0;
      font-size: 18px;
    }
    .list-group-item {
      padding: 10px;
      border-right: 0;
      border-left: 0;
      input[type='text'], textarea {
        font-size: 14px;
        background-color: $light-gray;
      }
      textarea {
        height: 100px;
      }
      &:last-child {
        background-color: $light-gray;
      }
    }
  }
}

section {
   width: 100%;
   float: right;
   margin: 2% 2%;
   text-align: center;
 }

 footer {
   background: #0e1215;
   width: 100%;
   overflow: hidden;
   opacity: 0.90;
 }
 footer p, footer h3 {
   color: #FFF;
   text-align: center;
 }
 footer p a {
   color: #FFF;
   text-decoration: none;
 }

 ul.social li {
  display: inline;
  }
 ul.social li img {
   height: 30px;
 }

 .social {
   text-align: center;
 }


@media screen and (min-width: 34em) {
  .posts.index .card {
    height: 440px;
  }
}
// Medium. Above 48em (768px)
@media screen and (min-width: 48em) {
  .posts.index .card {
    height: 420px;
  }
}
// Medium. Above 75em (1200px)
@media screen and (min-width: 75em) {
  .posts.index .card {
    height: 415px;
  }
}

.link {
  border: 5px solid black;
}
